$maxWidth: 1620;
@mixin adaptiv-value($value, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    #{$value}: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    #{$value}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.news {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__block {
    display: grid;
    grid-template: 1fr / 380px 380px 380px;
    justify-content: space-between;
    column-gap: 97px;
    row-gap: 50px;
    @media (max-width: 1280px) {
      grid-template: 1fr 1fr /380px 380px;
    }
    @media (max-width: 850px) {
      grid-template: 1fr 1fr 1fr /1fr;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__items {
    background: #eaf3fa;
    flex: 0 0 380px;
    @media (max-width: 850px) {
      flex: 0 0 100%;
    }
    margin-bottom: 50px;
  }
  padding: 0 0 100px 0;
  &__title {
    @include adaptiv-value("padding-top", 150, 50);
    @include adaptiv-value("padding-bottom", 100, 30);

    padding: 150px 0 100px 0;
  }
}
