.news {
  padding: 0 0 100px 0;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 380px 380px 380px;
      grid-template: 1fr / 380px 380px 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 97px;
          column-gap: 97px;
  row-gap: 50px;
}

@media (max-width: 1280px) {
  .news__block {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 380px 380px;
        grid-template: 1fr 1fr /380px 380px;
  }
}

@media (max-width: 850px) {
  .news__block {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr /1fr;
  }
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__items {
  background: #eaf3fa;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
  margin-bottom: 50px;
}

@media (max-width: 850px) {
  .news__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.news__title {
  padding: 150px 0 100px 0;
}

@media (max-width: 767px) {
  .news__title {
    padding-top: calc( 50px + 170 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .news__title {
    padding-top: calc(50px + 100 * (100vw / 1620));
  }
}

@media (max-width: 767px) {
  .news__title {
    padding-bottom: calc( 30px + 119 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .news__title {
    padding-bottom: calc(30px + 70 * (100vw / 1620));
  }
}
