$maxWidth: 1620;
@mixin adaptiv-value($value, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    #{$value}: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    #{$value}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.item-specialties {
  background: #eaf3fa;
  padding: 20px 65px;
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    flex: 1 1 auto;
    @include adaptiv-value("margin-bottom", 60, 20);
  }
  &__item {
    position: relative;
    padding-left: 35px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__link {
    color: inherit;
    font-weight: bold;
    line-height: 21px;
    cursor: default;
  }

  &__button-link {
    width: 192px;
    height: 44.31px;
    background: #0054a5;
    border: 1.52988px solid #0054a5;
    box-sizing: border-box;
    border-radius: 29.8327px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 3px 15px #0054a5;
    color: white;
    font-size: 10.7092px;
    line-height: 17px;
    padding-left: 30px;
    padding-right: 20px;
    transition: all ease 300ms 0s;
    transition: all ease 300ms 0s;
    &:hover {
      background-color: #00386d;
    }
  }
}
