.item-specialties {
  background: #eaf3fa;
  padding: 20px 0 20px 0;
  max-width: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .item-specialties {
    padding-right: calc( 30px + 59.5 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .item-specialties {
    padding-right: calc(30px + 35 * (100vw / 1620));
  }
}

@media (max-width: 767px) {
  .item-specialties {
    padding-left: calc( 30px + 59.5 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .item-specialties {
    padding-left: calc(30px + 35 * (100vw / 1620));
  }
}

.item-specialties__title {
  margin-bottom: 20px;
}

.item-specialties__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767px) {
  .item-specialties__list {
    margin-bottom: calc( 20px + 68 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .item-specialties__list {
    margin-bottom: calc(20px + 40 * (100vw / 1620));
  }
}

.item-specialties__item {
  position: relative;
  padding-left: 35px;
}

.item-specialties__item:not(:last-child) {
  margin-bottom: 20px;
}

.item-specialties__link {
  color: inherit;
  font-weight: bold;
  line-height: 21px;
  cursor: default;
}

.item-specialties__button-link {
  width: 222px;
  height: 44.31px;
}
