.buttons-component {
  position: relative;
  z-index: 10;
  cursor: pointer;
  background: #0054a5;
  border-radius: 39px;
  font-size: 5px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 251px;
  padding: 20px;
  transition: all ease 300ms 0s;
  box-shadow: 5px 5px 15px #0054a5;
  column-gap: 20px;
  &:hover {
    box-shadow: 1px 1px 1px 1px 5px#0054a5;
    background-color: white;
    color: #0054a5;
  }
  &__btn {
    color: inherit;
  }
  &:hover {
    .buttons-component__arrow * {
      fill: blue;
    }
    color: blue;
  }
  &__arrow {
    & * {
      transition: all ease 300ms 0s;
    }
    &:hover {
    }
  }
}
