.buttons-component {
  position: relative;
  z-index: 10;
  cursor: pointer;
  background: #0054a5;
  border-radius: 39px;
  font-size: 5px;
  line-height: 22px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 251px;
  padding: 20px;
  -webkit-transition: all ease 300ms 0s;
  transition: all ease 300ms 0s;
  -webkit-box-shadow: 5px 5px 15px #0054a5;
          box-shadow: 5px 5px 15px #0054a5;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.buttons-component:hover {
  -webkit-box-shadow: 1px 1px 1px 1px 5px #0054a5;
          box-shadow: 1px 1px 1px 1px 5px #0054a5;
  background-color: white;
  color: #0054a5;
}

.buttons-component__btn {
  color: inherit;
}

.buttons-component:hover {
  color: blue;
}

.buttons-component:hover .buttons-component__arrow * {
  fill: blue;
}

.buttons-component__arrow * {
  -webkit-transition: all ease 300ms 0s;
  transition: all ease 300ms 0s;
}
