.best {
  background: linear-gradient(97.5deg, #eaf3fa 17.17%, #c4e2ff 83.02%);
}

@media (max-width: 767px) {
  .best {
    margin-top: calc( 50px + 170 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .best {
    margin-top: calc(50px + 100 * (100vw / 1620));
  }
}

.best__title {
  padding: 20px 0 0 0;
}

.best__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .best__items {
    margin-top: calc( 30px + 102 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .best__items {
    margin-top: calc(30px + 60 * (100vw / 1620));
  }
}

.best__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .best__item {
    margin-bottom: calc( 20px + 68 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .best__item {
    margin-bottom: calc(20px + 40 * (100vw / 1620));
  }
}

@media (any-hover: hover) {
  .best__item:hover img {
    -webkit-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
  }
}

.best__img {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  overflow: hidden;
}

.best__img img {
  width: 100%;
  -webkit-transition: all ease 500ms 0s;
  transition: all ease 500ms 0s;
}

.best .title {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .best .title {
    font-size: calc( 14px + 18.7 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .best .title {
    font-size: calc(14px + 11 * (100vw / 1620));
  }
}
