.content-more {
  padding: 0 0 20px 0;
}

.content-more__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.content-more__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 50px;
}

.content-more__item:last-child {
  margin-bottom: 100px;
}

.content-more__img {
  max-height: 423px;
  max-width: 558px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 1300px) {
  .content-more__img {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.content-more__img img {
  width: 100%;
}

@media (min-width: 1300px) {
  .content-more .img1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content-more .img2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content-more .img3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content-more .img4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content-more .text1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content-more .text2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content-more .text3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content-more .text4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.content-more__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 1300px) {
  .content-more__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.text-content-more__title {
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  color: #0054a5;
}

@media (max-width: 767px) {
  .text-content-more__title {
    font-size: calc( 24px + 10.2 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .text-content-more__title {
    font-size: calc(24px + 6 * (100vw / 1620));
  }
}

.text-content-more__title span {
  font-weight: normal;
  line-height: 150%;
  text-align: center;
  color: #0054a5;
}

@media (max-width: 767px) {
  .text-content-more__title span {
    font-size: calc( 24px + 10.2 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .text-content-more__title span {
    font-size: calc(24px + 6 * (100vw / 1620));
  }
}
