.administration {
  position: relative;
}

.administration__fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.administration__title {
  position: relative;
  z-index: 10;
  padding: 20px 0 0 0;
}

.administration__items {
  position: relative;
  z-index: 10;
}

@media (max-width: 767px) {
  .administration__items {
    padding-top: calc( 50px + 255 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .administration__items {
    padding-top: calc(50px + 150 * (100vw / 1620));
  }
}

.administration__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
}

@media (max-width: 1100px) {
  .administration__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .administration__item {
    margin-bottom: calc( 50px + 119 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .administration__item {
    margin-bottom: calc(50px + 70 * (100vw / 1620));
  }
}
