$maxWidth: 1620;
@mixin adaptiv-value($value, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    #{$value}: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    #{$value}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.administration {
  position: relative;
  &__fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
  }
  &__title {
    position: relative;
    z-index: 10;
    padding: 20px 0 0 0;
  }
  &__items {
    @include adaptiv-value("padding-top", 200, 50);
    position: relative;
    z-index: 10;
  }
  &__item {
    display: flex;
    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 50px;
    @include adaptiv-value("margin-bottom", 120, 50);
  }
}
