$maxWidth: 1620;
@mixin adaptiv-value($value, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    #{$value}: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    #{$value}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.title {
  @include adaptiv-value("font-size", 32, 22);
}
