@media (max-width: 767px) {
  .newsSection__title {
    margin-bottom: calc( 50px + 238 * ((100vw - 320px) / 1355));
  }
}

@media (min-width: 767px) {
  .newsSection__title {
    margin-bottom: calc(50px + 140 * (100vw / 1355));
  }
}

.newsSection__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
