.header {
  border-bottom: 5px solid #b3b3b334;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.header__logo {
  margin-right: auto;
}

.header__logo a img {
  width: 100%;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-btn {
  display: none;
  position: relative;
  z-index: 40;
  width: 40px;
  height: 30px;
}

@media (max-width: 1200px) {
  .header__menu-btn {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
}

.header__menu-btn span {
  display: block;
  position: relative;
  z-index: 30;
  width: 100%;
  height: 3px;
  background-color: #7fc5f7;
}

.header__menu-btn span:not(:last-child) {
  margin-bottom: 10px;
}

.menu {
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .menu {
    -webkit-transition: all ease 500ms 0s;
    transition: all ease 500ms 0s;
    position: absolute;
    z-index: 11;
    top: -100%;
    right: -20px;
    width: 50%;
    padding: 30px;
    height: auto;
    text-align: right;
    background-color: #dbedfa;
    padding: 80px 20px 20px 20px;
  }
}

@media (max-width: 680px) {
  .menu {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__item {
  margin-right: 55px;
  -webkit-transition: all ease 300ms 0s;
  transition: all ease 300ms 0s;
  line-height: 21px;
  position: relative;
  padding: 0 0 10px 0;
}

@media (any-hover: hover) {
  .menu__item:hover {
    color: #fc3b3b;
  }
  .menu__item:hover .menu__sublist {
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@media (max-width: 1200px) {
  .menu__link {
    font-size: 22px;
    line-height: 150%;
  }
}

@media (any-hover: none) {
  .menu__link._active ~ .menu__sublist {
    top: 120%;
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
  }
}

@media (max-width: 1200px) {
  .menu__link._active ~ .menu__sublist {
    position: relative;
    display: block;
    -webkit-transform: translate(22px, 0);
            transform: translate(22px, 0);
  }
}

.menu__sublist {
  min-width: 200px;
  margin-right: 20px;
  position: relative;
  z-index: 20;
}

@media (max-width: 1200px) {
  .menu__sublist {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu__sublist {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all ease 300ms 0s;
    transition: all ease 300ms 0s;
    min-width: 280px;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@media (any-hover: none) {
  .menu__sublist {
    position: absolute;
    -webkit-transition: all ease 300ms 0s;
    transition: all ease 300ms 0s;
    top: -100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.menu__subitem {
  line-height: 150%;
}

.menu__sublink {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #a2a7ad;
  -webkit-transition: all ease 300ms 0s;
  transition: all ease 300ms 0s;
  text-align: center;
  padding: 15px 0;
  color: #0054a5;
  font-size: 15px;
}

.menu__sublink:hover {
  border: 1px solid #0073ff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.menu .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .search__map {
  cursor: pointer;
  position: relative;
  z-index: 30;
}

._active .menu {
  top: 0;
}

@media (max-width: 1200px) {
  .header__menu-btn span:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__menu-btn span:nth-child(1) {
    -webkit-animation: span-back1 300ms ease 0s forwards;
            animation: span-back1 300ms ease 0s forwards;
  }
  .header__menu-btn span:nth-child(2) {
    -webkit-animation: span-back2 300ms ease 0s forwards;
            animation: span-back2 300ms ease 0s forwards;
  }
  .header__menu-btn span:nth-child(3) {
    -webkit-animation: span-back3 300ms ease 0s forwards;
            animation: span-back3 300ms ease 0s forwards;
  }
  ._active .header__menu-btn span:nth-child(1) {
    -webkit-animation: span1 300ms ease 0s forwards;
            animation: span1 300ms ease 0s forwards;
  }
  ._active .header__menu-btn span:nth-child(2) {
    -webkit-animation: span2 300ms ease 0s forwards;
            animation: span2 300ms ease 0s forwards;
  }
  ._active .header__menu-btn span:nth-child(3) {
    -webkit-animation: span3 300ms ease 0s forwards;
            animation: span3 300ms ease 0s forwards;
  }
}

@-webkit-keyframes span1 {
  0% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(0px, 19px);
            transform: rotate(45deg) translate(0px, 19px);
  }
}

@keyframes span1 {
  0% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(0px, 19px);
            transform: rotate(45deg) translate(0px, 19px);
  }
}

@-webkit-keyframes span2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes span2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes span3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(0, -17px);
            transform: rotate(-45deg) translate(0, -17px);
  }
}

@keyframes span3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(0, -17px);
            transform: rotate(-45deg) translate(0, -17px);
  }
}

@-webkit-keyframes span-back1 {
  0% {
    -webkit-transform: rotate(45deg) translate(0, 22px);
            transform: rotate(45deg) translate(0, 22px);
  }
  100% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
}

@keyframes span-back1 {
  0% {
    -webkit-transform: rotate(45deg) translate(0, 22px);
            transform: rotate(45deg) translate(0, 22px);
  }
  100% {
    -webkit-transform: rotate(0) translate(0);
            transform: rotate(0) translate(0);
  }
}

@-webkit-keyframes span-back2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes span-back2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes span-back3 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, -21px);
            transform: rotate(-45deg) translate(0, -21px);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes span-back3 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, -21px);
            transform: rotate(-45deg) translate(0, -21px);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
