$maxWidth: 1620;
@mixin adaptiv-value($value, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    #{$value}: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    #{$value}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.footer {
  @include adaptiv-value("padding-top", 90, 30);
  @include adaptiv-value("padding-bottom", 30, 20);
  background-color: #0054a5;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }
  }
  &__items {
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 1100px) {
      flex: 0 0 100%;
    }
    flex: 0 0 70%;
    @media (max-width: 1200px) {
      display: block;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    @include adaptiv-value("margin-bottom", 55, 10);
  }
  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    transition: all ease 300ms 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #fc3b3b;
      }
    }
  }
  &__list {
    @media (max-width: 1200px) {
      display: none;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 25px;
  }
  &__copyright {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  &__messengers {
    h3 {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      @include adaptiv-value("margin-bottom", 52, 30);
    }
    div {
      display: flex;
      flex-direction: column;
      a {
        margin-bottom: 28px;
      }
    }
  }
}
.form-footer {
  margin-bottom: 20px;
  @include adaptiv-value("padding-top", 20, 15);
  @include adaptiv-value("padding-right", 40, 25);
  @include adaptiv-value("padding-left", 40, 25);
  @include adaptiv-value("padding-bottom", 20, 15);

  background: #ffffff;
  border-radius: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__title {
    color: #0054a5;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
  }
  &__input-name,
  &__input-tel {
    margin-bottom: 25px;
    width: 240px;
    height: 41px;
    background: #0054a5;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input::placeholder {
    color: white;
    font-size: 16px;
  }
  input {
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
  }
  &__btn {
    width: 155px;
    height: 29px;
    background: #0054a5;
    box-shadow: 4px 4px 15px #0054a5;
    border-radius: 32px;
    color: white;
    font-size: 16px;
    transition: all ease 300ms 0s;
    &:hover {
      background-color: #00284d;
    }
  }
}
.footer-messengers {
  margin-top: 40px;
}
