.button {
  background: #0054a5;
  border: 2px solid #0054a5;
  box-sizing: border-box;
  border-radius: 39px;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all ease 300ms 0s;
  box-shadow: 5px 5px 15px #0054a5;
  &:hover {
    box-shadow: 2px 2px 2px #0054a5;
  }
  &:hover {
    .img * {
      fill: blue;
    }
  }
  .img {
    position: absolute;
    top: 18px;
    left: 160px;
    padding-left: 10px;
    width: 40px;
    height: 20px;
    & * {
      transition: all ease 300ms 0s;
    }
  }
}
