@media (max-width: 767px) {
  .welcome {
    padding-top: calc( 30px + 119 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .welcome {
    padding-top: calc(30px + 70 * (100vw / 1620));
  }
}

.welcome__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1050px) {
  .welcome__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.welcome__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

@media (max-width: 1050px) {
  .welcome__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.welcome__title {
  line-height: 150%;
  color: #0054a5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .welcome__title {
    font-size: calc( 26px + 10.2 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .welcome__title {
    font-size: calc(26px + 6 * (100vw / 1620));
  }
}

.welcome__text {
  color: black;
}

@media (max-width: 767px) {
  .welcome__text {
    margin-bottom: calc( 20px + 59.5 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .welcome__text {
    margin-bottom: calc(20px + 35 * (100vw / 1620));
  }
}

.welcome__img {
  max-height: 397px;
  max-width: 675px;
}

.welcome__img img {
  width: 100%;
}

@media (max-width: 767px) {
  .title {
    font-size: calc( 24px + 13.6 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc(24px + 8 * (100vw / 1620));
  }
}
