.contacts {
  position: relative;
}

.contacts__title {
  position: relative;
  z-index: 10;
}

.contacts__fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.contacts__container {
  margin-top: 200px;
}

.contacts__adres {
  line-height: 28px;
  color: #000000;
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  .contacts__adres {
    font-size: calc( 14px + 17 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .contacts__adres {
    font-size: calc(14px + 10 * (100vw / 1620));
  }
}

.contacts__adres span {
  font-size: 24px;
  line-height: 28px;
  color: #0054a5;
  margin-right: 200px;
}

@media (max-width: 767px) {
  .contacts__adres span {
    margin-right: calc( 100px + 170 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .contacts__adres span {
    margin-right: calc(100px + 100 * (100vw / 1620));
  }
}

.contacts__phone {
  line-height: 28px;
  color: #000000;
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  .contacts__phone {
    font-size: calc( 14px + 17 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .contacts__phone {
    font-size: calc(14px + 10 * (100vw / 1620));
  }
}

.contacts__phone span {
  font-size: 24px;
  line-height: 28px;
  color: #0054a5;
  margin-right: 200px;
}

@media (max-width: 767px) {
  .contacts__phone span {
    margin-right: calc( 100px + 170 * ((100vw - 320px) / 1620));
  }
}

@media (min-width: 767px) {
  .contacts__phone span {
    margin-right: calc(100px + 100 * (100vw / 1620));
  }
}

.contacts__messengers {
  padding: 30px 0 0 0;
  margin-bottom: 138px;
}

.messengers-contacts__title {
  margin-bottom: 28px;
}

.messengers-contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.contact__map-img {
  max-width: 816px;
  max-height: 738px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.contact__map-img img {
  width: 100%;
}
